Source: python-iventure
Maintainer: Taylor R Campbell <riastradh+probcomp@csail.mit.edu>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9),
	dh-python,
	python,
	python-setuptools
X-Python-Version: >= 2.6

Package: python-iventure
Architecture: any
Depends: ${misc:Depends}, ${python:Depends},
	probcomp-ubuntu-keyring
Description: Jupyter front end for probabilistic programming platform.
